@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

:root {
  --color1: #3b8e46;
  --color2: #dc9f96;
  --color3: #c02e44;
  --color4: #ece2da;
  --color5: rgb(18, 19, 19);
  --color6: #d2776a;
  --color7: #e0b9b4;
}

* {
  font-family: "Syne", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
/* html {
  scroll-behavior: smooth;
} */

a {
  text-decoration: none;
  color: var(--color5);
}
p {
  font-size: 20px;
  font-weight: 400;
  color: black;
  line-height: 27px;
}
body {
  font-family: "Syne", sans-serif;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.header img {
  width: 150px;
  margin: 0 auto;
}
.site__header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site__header__menu li {
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  padding: 25px 0;
  width: 160px;
}
.site__header__menu li:hover,
li a:hover {
  background-color: var(--color3);
  color: white;
}
.site__header__menu li a:hover {
  color: white;
}

.site__header__menu li.current-menu-item,
.site__header__menu li.current-menu-item a {
  background-color: var(--color6); /* Couleur de fond pour l'état actif */
  color: white;
}

/* Menu Admin */

.site__header__menu #menu-item-154:nth-child(3) {
  order: 1;
}
.site__header__menu #menu-item-153:nth-child(2) {
  order: 3;
}
.site__header__menu #LienAdmin:nth-child(2) {
  order: 2;
}
.infos {
  padding: 10vh;
}
.infos h2 {
  font-size: 30px;
  font-weight: 700;
  color: var(--color1);
  margin: 0 0 50px 0;
}

.Section-energy-drink {
  width: 100%;
  background-color: var(--color4);
}
.Section-energy-drink h1 {
  font-size: 38px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color1);
  padding: 50px 0;
}
.section-bas-drink {
  height: 60px;
  width: 100%;
  background-color: var(--color4);
  border-radius: 0 0 80% 80%;
  box-shadow: 0 10px 0 #dcd5cf;
}
.section-gouts {
  padding: 50px 0;
  border-radius: 0 0 2% 2%;
  box-shadow: 0 10px 0 #dcd5cf;
  background-color: var(--color4);
}
.section-gouts h3 {
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color6);
}
.section-gouts p {
  font-size: 20px;
  font-weight: 400;
  color: black;
  font-family: "Syne", sans-serif;
  margin-bottom: 70px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.article-fruits {
  display: flex;
  flex-wrap: wrap;
  width: 850px;
  margin: 0 auto;
  gap: 30px;
}

.titre-fruit h3 {
  display: inline-block;
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 45px;
  color: white;
}
.fraise {
  position: relative;
}
.pamplemousse {
  position: relative;
}
.framboise {
  position: relative;
}
.citron {
  position: relative;
}
.btn-commander {
  padding: 20px 70px;
  background-color: var(--color7);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0 auto 20px;
}
.btn-commander a {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  color: white;
}
.content-avis {
  background: white;
}
.content-avis h3 {
  font-size: 30px;
  color: var(--color1);
  margin: 80px 0;
  font-weight: 800;
}
.content-users-avis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
.user-avis {
  display: flex;
  gap: 20px;
  margin-bottom: 100px;
}
.user-avis img {
  width: 140px;
  height: 170px;
}
.user-pseudo-texte {
  width: 300px;
}
.user-pseudo-texte h4 {
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  margin-top: 20px;
  color: var(--color1);
}
.user-pseudo-texte p {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin: 10px 0;
  color: black;
}
.img-canettes img {
  width: 100%;
  height: 200px;
}
.site__footer {
  height: 50px;
}
.site__footer h5 {
  font-size: 18px;
  font-weight: 400;
  margin: 15px 0;
}

/* Page nous rencontrer */

.nous-rencontrer {
  min-width: 100vw;
  display: flex;
  justify-content: center;
  background-color: var(--color4);
  align-content: center;
  margin: 0 auto;
  gap: 50px;
  border-radius: 0 0 20% 20%;
}
.nous-rencontrer img {
  width: 150px;
  height: 150px;
  margin-top: 50px;
}
.nous-rencontrer h1 {
  font-size: 35px;
  font-weight: 800;
  color: var(--color6);
  margin-top: 150px;
}
.nous-rencontrer p {
  font-size: 18px;
  font-weight: 400;
  color: black;
  margin: 30px 0 70px;
}

/* Page nous rencontrer - Section equipe */

.equipe {
  background-color: white;
  position: relative;
}
.equipe h2 {
  font-size: 30px;
  color: black;
  font-weight: 700;
  margin: 50px 0;
}
.equipe .user-equipe {
  display: flex;
  justify-content: center;
  gap: 150px;
}
.profil-user-equipe {
  display: flex;
  flex-direction: column;
}
.profil-user-equipe h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0;
}

.profil-user-equipe p {
  font-size: 20px;
  font-weight: 400;
}
.img-branche img {
  width: 200px;
  height: 250px;
  position: absolute;
  right: 25vw;
  bottom: -70px;
}

/* Page nous rencontrer - Section nous-contacter */

.nous-contacter {
  background-color: var(--color4);
  margin-top: 70px;
  position: relative;
}
.nous-contacter h2 {
  font-size: 30px;
  color: black;
  font-weight: 700;
  padding: 50px 0;
}
.nous-contacter .img-canettes img {
  width: 100%;
  height: 200px;
  position: absolute;
  right: 18vw;
  bottom: -70px;
}

/* Page nous rencontrer - Section Formulaire */
h4 {
  font-size: 18px;
  font-weight: 300;
  color: black;
  margin-bottom: 5px;
}
.nom {
  margin-right: 325px;
}
.email {
  margin-right: 313px;
}
.message {
  margin-right: 290px;
}

.has-spinner {
  font-size: 13px !important;
  margin-bottom: 10vh !important;
  margin-top: 2vh !important;
  margin-left: 50px;
  width: 150px !important;
  background-color: var(--color2);
  color: white;
}

.has-spinner:hover {
  background-color: var(--color3);
}
.wpcf7-form-control {
  border: none !important;
  border-radius: 7px !important;
  position: relative;
  z-index: 2;
  width: 18vw;
  height: 50px;
  margin-bottom: 15px;
}

.nous-contacter .img-feuille-form img.attachment-full {
  width: 180px;
  height: 180px;
  position: absolute;
  right: 54vw;
  bottom: 30vh;
  z-index: 1;
}
.nous-contacter .wpcf7-textarea {
  height: 200px;
}
.nous-contacter .img-canettes-form img {
  width: 100%;
  height: 200px;
}
.nous-contacter img.attachment-full .img-canettes-form {
  position: absolute !important;
  right: 18vw !important;
  bottom: -10vh !important;
  z-index: 2 !important;
}

/* Page Commander - Section Votre commande */

.bg-commander {
  background-color: var(--color1);
  position: relative;
}
.section-global-width {
  width: 40%;
  margin: 0 auto;
}
.section-global-width .votre-commande h1 {
  font-size: 35px;
  font-weight: 800;
  color: white;
  padding-top: 5vh;
}
.section-global-width .votre-commande h1:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  background: white;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
}
.choix-commande {
  margin-top: 10vh;
}
.choix-commande h2 {
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-align: left;
  margin-bottom: 5vh;
}
.choix-commande h2:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  background: white;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%);
}

/* Page Commander - Section Votre commande */
.commande-article-flex {
  display: flex !important;
  justify-content: space-around !important;
}

.commande-article-colonne {
  display: flex;
  flex-direction: column;
  width: 193px;
  gap: 10px;
}
.commande-article-colonne .compteur {
  display: flex;
  height: 50px;
  gap: 1px;
}
.commande-article-colonne .compteur .valeur {
  width: 50px;
  height: 50px;
}
.compteur-value {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10% 0 0 10%;
  text-align: center;
  font-size: 16px;
}
.bouton {
  display: flex;
  flex-direction: column;
  width: 13px;
  gap: 1px;
}
.compteur-button {
  height: 50px;
  background-color: var(--color6);
  color: white;
  width: 20px;
  border: none;
  border-radius: 10%;
}
.valider-button {
  width: 115px;
  margin-left: 14px;
  background-color: var(--color2);
  color: white;
  border: none;
  border: none;
  border-radius: 5%;
}

/* Page Commander - Section Formulaire de commande */

.form-commande-flex {
  width: 40%;
  margin: 10vh auto auto;
  display: flex;
  justify-content: space-around;
  gap: 2vw;
}
.form-commande-flex input {
  border: none;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 3vh;
  color: black;
  text-align: left;
  padding-left: 5px;
}
.form-commande-flex h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 3vh;
  color: white;
  text-align: left;
}
.form-commande-flex h4 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1vh;
  color: white;
  text-align: left;
}
.form-commande-flex .sec-informations:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 36vh;
  background: white;
  top: 56vh;
  left: 50%;
  transform: translateX(-50%);
}
.form-commande-flex .has-spinner {
  font-size: 13px !important;
  font-weight: 200 !important;
  margin: 2vh 0 10vh 0;
  width: 150px !important;
  background-color: var(--color2);
  color: white;
  text-align: center;
}
.form-commande-flex .has-spinner:hover {
  background-color: var(--color3);
  color: white;
}
