@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

:root {
  --color1: #3b8e46;
  --color2: #dc9f96;
  --color3: #c02e44;
  --color4: #ece2da;
  --color5: rgb(18, 19, 19);
  --color6: #d2776a;
  --color7: #e0b9b4;
}

* {
  font-family: "Syne", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
/* html {
  scroll-behavior: smooth;
} */

a {
  text-decoration: none;
  color: var(--color5);
}
p {
  font-size: 20px;
  font-weight: 400;
  color: black;
  line-height: 27px;
}
body {
  font-family: "Syne", sans-serif;
  text-align: center;
  margin: 0 auto;
  border: 2px solid red;
}
/* Menu MOBILE */
nav > button {
  display: none;
  background-color: var(--color4);
  border: none;
}

nav.toggled > ul {
  display: block;
}
/* Menu HEADER*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.header .logo {
  width: 200px;
  margin: 0 auto;
}

.site__header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site__header__menu li {
  font-weight: 400;
  cursor: pointer;
  padding: 25px 0;
  width: 10vw;
  color: white;
}
.site__header__menu li a {
  color: black;
  font-size: 16px;
  font-weight: 400;
  padding: 25px 0;
}
.site__header__menu li:hover,
li a:hover {
  background-color: var(--color3);
  color: white;
}
.site__header__menu li a:hover {
  color: white;
}

.site__header__menu li.current-menu-item,
.site__header__menu li.current-menu-item a {
  background-color: var(--color6); /* Couleur de fond pour l'état actif */
  color: white;
}

@media screen and (max-width: 1280px) {
  site__header__menu li a {
    padding: 25px 0;
  }
}
@media screen and (max-width: 1260px) {
  .site__header__menu li {
    width: 11vw;
  }
}
@media screen and (max-width: 1235px) {
  .site__header__menu li {
    width: 12vw;
  }
}

@media screen and (max-width: 900px) {
  .site__header__menu li {
    padding: 15px 0;
  }
  .site__header__menu li a {
    padding: 15px 0;
  }
  .header {
    padding: 5px 1vw;
  }

  .site__header__menu {
    display: none;
  }
  nav > button {
    display: inline-block;
  }
  .site__header__menu li {
    width: 200px;
  }
  button .menu_burger {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 769px) {
  .header .logo {
    width: 150px;
  }
}
@media screen and (max-width: 481px) {
  .header .menu_burger {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 321px) {
  .header .logo {
    width: 120px;
  }
  .site__header__menu li {
    padding: 15px 0;
  }
  .site__header__menu li a {
    padding: 15px 0;
  }
  .header {
    padding: 5px 1vw;
  }
  .header .menu_burger {
    display: inline-block;
    margin: 0 auto;
  }
  .site__header__menu li {
    width: 200px;
  }
  .header .menu_burger {
    width: 30px;
    height: 30px;
  }
}
/* Menu HEADER Admin */

.site__header__menu #menu-item-154:nth-child(3) {
  order: 1;
}
.site__header__menu #menu-item-153:nth-child(2) {
  order: 3;
}
.site__header__menu #LienAdmin:nth-child(2) {
  order: 2;
}
/* Section Footer */

.site__footer {
  height: 50px;
}
.site__footer h5 {
  font-size: 18px;
  font-weight: 400;
  margin: 15px 0;
}

/* Section energy drink page d'accueil */

.Section-energy-drink {
  background-color: var(--color4);
  margin: 0 auto;
}
.Section-energy-drink h1 {
  font-size: 2.8rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color1);
  padding: 50px 0;
}
.section-bas-drink {
  height: 60px;
  background-color: var(--color4);
  border-radius: 0 0 80% 80%;
  box-shadow: 0 10px 0 #dcd5cf;
}

@media screen and (max-width: 1280px) {
  .Section-energy-drink h1 {
    font-size: 2rem;
    font-weight: 800;
  }
  .Section-energy-drink img {
    width: 349px;
    height: 249px;
  }
}

@media screen and (max-width: 960px) {
  .Section-energy-drink h1 {
    font-size: 1.8rem;
    font-weight: 800;
  }
}
@media screen and (max-width: 768px) {
  .Section-energy-drink h1 {
    font-size: 1.4rem;
    font-weight: 800;
  }
}
@media screen and (max-width: 480px) {
  .Section-energy-drink h1 {
    font-size: 1.2rem;
    font-weight: 800;
  }
}
@media screen and (max-width: 320px) {
  .Section-energy-drink h1 {
    font-size: 1rem;
    font-weight: 800;
  }
  .Section-energy-drink img {
    width: 174px;
    height: 124px;
  }
  .section-bas-drink {
    height: 20px;
  }
}
/* Section info page d'accueil */

.infos {
  padding: 10vh;
}
.infos h2 {
  font-size: 30px;
  font-weight: 700;
  color: var(--color1);
  margin: 0 0 50px 0;
}

@media screen and (max-width: 1025px) {
  .infos {
    padding: 5vh;
  }
}
@media screen and (max-width: 960px) {
  .infos h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color1);
    margin: 0 0 50px 0;
  }
  .infos p {
    font-size: 0.9rem;
    margin: 10px 0;
  }
}
@media screen and (max-width: 480px) {
  .infos h2 {
    font-size: 20px;
    font-weight: 700;
    color: var(--color1);
    margin: 0 0 30px 0;
  }
}
/* Section goût page d'accueil */

.section-gouts {
  padding: 50px 0;
  border-radius: 0 0 2% 2%;
  box-shadow: 0 10px 0 #dcd5cf;
  background-color: var(--color4);
}
.section-gouts h3 {
  font-size: 2.4rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color6);
}
.section-gouts p {
  font-size: 1.3rem;
  font-weight: 400;
  color: black;
  font-family: "Syne", sans-serif;
  margin: 30px 0;
}
@media screen and (max-width: 1024px) {
  .section-gouts h3 {
    font-size: 2.2rem;
  }
  .section-gouts p {
    font-size: 1.2rem;
  }
  .article-fruits img {
    width: 295px;
    height: 196px;
  }
}
@media screen and (max-width: 320px) {
  .section-gouts h3 {
    font-size: 1rem;
  }
  .section-gouts p {
    font-size: 0.9rem;
  }
  .article-fruits img {
    width: 295px;
    height: 196px;
  }
}

.article-fruits {
  display: flex;
  flex-wrap: wrap;
  width: 850px;
  margin: 0 auto;
  gap: 30px;
}

.titre-fruit h3 {
  display: inline-block;
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2.8rem;
  color: white;
}

.fraise {
  position: relative;
}
.pamplemousse {
  position: relative;
}
.pamplemousse h3 {
  top: 9vh;
}
.framboise {
  position: relative;
}
.framboise h3 {
  top: 9vh;
}
.citron {
  position: relative;
}
@media screen and (max-width: 1024px) {
  .article-fruits {
    width: 650px;
    margin: 0 auto;
    gap: 30px;
  }
  .titre-fruit h3 {
    font-size: 2.1rem;
    top: 8vh;
    left: 0;
    right: 0;
  }
  .pamplemousse h3 {
    top: 6vh;
  }
  .framboise h3 {
    top: 6vh;
  }
}
@media screen and (max-width: 760px) {
  .section-gouts h3 {
    font-size: 1.9rem;
  }
  .section-gouts p {
    font-size: 0.9rem;
  }
  .article-fruits img {
    width: 196px;
    height: 131px;
  }
  .article-fruits {
    width: 450px;
    margin: 0 auto;
    gap: 20px;
  }
  .titre-fruit h3 {
    font-size: 1.4rem;
    top: 6vh;
    left: 0;
    right: 0;
  }

  .pamplemousse h3 {
    top: 5vh;
  }
  .framboise h3 {
    top: 5vh;
  }
}
@media screen and (max-width: 620px) {
  .section-gouts h3 {
    font-size: 1.4rem;
  }
  .section-gouts p {
    padding: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .article-fruits {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .titre-fruit h3 {
    font-size: 1.4rem;
    top: 9vh;
    left: 0;
    right: 0;
  }
  .pamplemousse h3 {
    top: 6vh;
  }
  .framboise h3 {
    top: 6vh;
  }
  .fraise h3 {
    top: 7vh;
  }
  .citron h3 {
    top: 7vh;
  }
}

@media screen and (max-width: 321px) {
  .section-gouts h3 {
    font-size: 1.1rem;
  }
  .article-fruits {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .titre-fruit h3 {
    font-size: 1.4rem;
    top: 9vh;
    left: 0;
    right: 0;
  }
  .section-gouts p {
    font-size: 0.8rem;
  }

  .pamplemousse h3 {
    top: 6vh;
  }
  .framboise h3 {
    top: 6vh;
  }
}

.btn-commander {
  padding: 20px 70px;
  background-color: var(--color7);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0 auto 20px;
}
.btn-commander a {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  color: white;
}
@media screen and (max-width: 480px) {
  .btn-commander {
    padding: 20px 50px;
    background-color: var(--color7);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 10px 0 10px 0;
  }
  .btn-commander a {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    color: white;
  }
}

.content-avis {
  background: white;
}
.content-avis h3 {
  font-size: 1.9rem;
  color: var(--color1);
  margin: 80px 0;
  font-weight: 800;
}
.content-users-avis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 0 2vw;
}

.user-avis {
  display: flex;
  gap: 20px;
  margin-bottom: 100px;
}
.user-avis img {
  width: 140px;
  height: 170px;
}
.user-pseudo-texte {
  width: 250px;
}
.user-pseudo-texte h4 {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: left;
  margin-top: 20px;
  color: var(--color1);
}
.user-pseudo-texte p {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: left;
  margin: 10px 0;
  color: black;
}
@media screen and (max-width: 1180px) {
  .user-pseudo-texte {
    width: 200px;
  }
  .user-pseudo-texte h4 {
    font-size: 1.4rem;
  }
  .content-avis h3 {
    font-size: 1.6rem;
  }
  .user-pseudo-texte p {
    font-size: 1rem;
  }
  .user-avis img {
    width: 105px;
    height: 130px;
  }
}
@media screen and (max-width: 1055px) {
  .user-pseudo-texte {
    width: 180px;
  }
  .user-pseudo-texte h4 {
    font-size: 1.4rem;
  }
  .user-pseudo-texte p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 942px) {
  .content-users-avis {
    display: flex;
    flex-wrap: wrap;
  }
  .user-avis {
    margin-bottom: 50px;
  }
  .user-pseudo-texte h4 {
    margin-top: 5px;
  }
  .user-pseudo-texte {
    width: 150px;
  }
  .content-avis h3 {
    font-size: 1.4rem;
  }
  .user-pseudo-texte h4 {
    text-align: center;
    font-size: 1.2rem;
  }
  .user-pseudo-texte p {
    font-size: 0.9rem;
    text-align: center;
  }
}
@media screen and (max-width: 770px) {
  .user-pseudo-texte h4 {
    margin-top: 0;
  }
  .user-pseudo-texte {
    width: 150px;
  }
  .content-avis h3 {
    font-size: 1.2rem;
  }
  .user-pseudo-texte h4 {
    text-align: center;
    font-size: 1rem;
  }
  .user-pseudo-texte p {
    font-size: 0.8rem;
    text-align: center;
    margin: 5px 0;
  }
}
.img-canettes img {
  width: 100%;
  height: 200px;
}

@media screen and (max-width: 980px) {
  .img-canettes img {
    height: 150px;
  }
}
@media screen and (max-width: 770px) {
  .content-avis h3 {
    font-size: 1rem;
  }
  .img-canettes img {
    height: 120px;
  }
}
@media screen and (max-width: 480px) {
  .content-avis h3 {
    font-size: 0.9rem;
  }
  .img-canettes img {
    height: 80px;
  }
}
@media screen and (max-width: 321px) {
  .content-avis h3 {
    font-size: 0.8rem;
  }
  .img-canettes img {
    height: 60px;
  }
}

/* Page nous rencontrer */

.nous-rencontrer {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  background-color: var(--color4);
  align-content: center;
  margin: 0 auto;
  gap: 50px;
  border-radius: 0 0 20% 20%;
}
.nous-rencontrer img {
  width: 150px;
  height: 150px;
  margin-top: 65px;
}
.nous-rencontrer h1 {
  font-size: 2.1rem;
  font-weight: 800;
  color: var(--color6);
  margin-top: 150px;
}
.nous-rencontrer p {
  font-size: 1.1rem;
  font-weight: 400;
  color: black;
  margin: 30px 0 70px;
}
@media screen and (max-width: 901px) {
  .nous-rencontrer {
    border-radius: 0 0 5% 5%;
    gap: 30px;
  }
  .nous-rencontrer img {
    width: 120px;
    height: 120px;
    margin-top: 60px;
  }
  .nous-rencontrer h1 {
    margin-top: 120px;
    font-size: 1.8rem;
  }
  .nous-rencontrer p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 769px) {
  .nous-rencontrer h1 {
    margin-top: 120px;
    font-size: 1.6rem;
  }
  .nous-rencontrer p {
    font-size: 0.8rem;
    margin: 20px 0 50px;
  }
  .nous-rencontrer img {
    width: 120px;
    height: 120px;
    margin-top: 75px;
  }
}
@media screen and (max-width: 481px) {
  .nous-rencontrer {
    border-radius: 0 0 2% 2%;
  }
  .nous-rencontrer h1 {
    margin-top: 40px;
    font-size: 1.1rem;
  }
  .nous-rencontrer p {
    font-size: 0.8rem;
    margin: 20px 0 20px;
  }
  .nous-rencontrer img {
    display: none;
  }
}
@media screen and (max-width: 321px) {
  .nous-rencontrer h1 {
    margin-top: 40px;
    font-size: 1rem;
  }
  .nous-rencontrer p {
    padding: 0 5px;
  }
}

/* Page nous rencontrer - Section equipe */

.equipe {
  background-color: white;
  position: relative;
}
.equipe h2 {
  font-size: 30px;
  color: black;
  font-weight: 700;
  margin: 50px 0;
}
.equipe .user-equipe {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.profil-user-equipe {
  display: flex;
  flex-direction: column;
}
.profil-user-equipe h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0;
}

.profil-user-equipe p {
  font-size: 20px;
  font-weight: 400;
}
.img-branche img {
  width: 200px;
  height: 250px;
  position: absolute;
  right: 25vw;
  bottom: -70px;
}

@media screen and (max-width: 1280px) {
  .img-branche img {
    right: 9vw;
  }
}
@media screen and (max-width: 1024px) {
  .equipe .user-equipe {
    gap: 100px;
  }
  .img-branche img {
    right: 1vw;
  }
}
@media screen and (max-width: 900px) {
  .equipe .user-equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .equipe .user-equipe {
    gap: 60px;
  }
  .img-branche img {
    right: 17vw;
    bottom: 2vh;
  }
}
@media screen and (max-width: 768px) {
  .equipe h2 {
    margin: 30px 0;
  }
  .img-branche img {
    right: 12vw;
    bottom: 3vh;
  }
  .profil-user-equipe h3 {
    font-size: 16px;
    margin: 15px 0;
  }
  .profil-user-equipe p {
    font-size: 15px;
  }
  .equipe .user-equipe {
    gap: 40px;
  }
}
@media screen and (max-width: 481px) {
  .equipe h2 {
    margin: 30px 0;
  }
  .equipe .user-equipe {
    gap: 40px;
  }
  .img-branche img {
    display: none;
  }
  .profil-user-equipe h3 {
    margin: 15px 0;
  }
}

/* Page nous rencontrer - Section nous-contacter */

.nous-contacter {
  background-color: var(--color4);
  margin-top: 70px;
  position: relative;
}
.nous-contacter h2 {
  font-size: 1.8rem;
  color: black;
  font-weight: 700;
  padding: 50px 0;
}

@media screen and (max-width: 900px) {
  .nous-contacter {
    margin-top: 0;
  }
}
@media screen and (max-width: 769px) {
  .nous-contacter h2 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 481px) {
  .nous-contacter h2 {
    font-size: 1.2rem;
  }
}
/* Page nous rencontrer - Section Formulaire */

.form-dim {
  width: 400px;
  margin: 0 auto;
}
.form-dim input,
textarea {
  width: 400px;
  margin: 0 0 3vh 0;
  border: none !important;
  border-radius: 7px !important;
  position: relative;
  z-index: 2;
  height: 50px;
}
@media screen and (max-width: 481px) {
  .form-dim {
    width: 300px;
  }
  .form-dim input,
  textarea {
    width: 300px;
  }
}

.form-dim textarea {
  resize: none;
}
.form-dim h4 {
  font-size: 1.1rem;
  font-weight: 300;
  color: black;
  margin-bottom: 1vh;
  text-align: left;
}
@media screen and (max-width: 481px) {
  .form-dim h4 {
    font-size: 0.9rem;
    font-weight: 300;
    color: black;
    margin-bottom: 1vh;
    text-align: left;
  }
}
.form-dim .spin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wpcf7-submit {
  font-size: 0.8rem !important;
  margin: 2vh auto 0;
  width: 150px !important;
  background-color: var(--color2);
  color: white;
}
@media screen and (max-width: 481px) {
  .wpcf7-submit {
    width: 300px !important;
  }
}

.wpcf7-submit:hover {
  background-color: var(--color3);
}

.nous-contacter .img-feuille-form img.attachment-full {
  width: 180px;
  height: 180px;
  position: absolute;
  right: 54vw;
  bottom: 27vh;
  z-index: 1;
}
@media screen and (max-width: 481px) {
  .nous-contacter .img-feuille-form img.attachment-full {
    display: none;
  }
}

.nous-contacter .wpcf7-textarea {
  height: 200px;
}
.nous-contacter .img-canettes-form img {
  width: 100%;
  height: 200px;
}

@media screen and (max-width: 1281px) {
  .nous-contacter .img-feuille-form img.attachment-full {
    right: 57vw;
    bottom: 28.5vh;
  }
}
@media screen and (max-width: 1025px) {
  .nous-contacter .img-feuille-form img.attachment-full {
    right: 59vw;
    bottom: 28vh;
  }
  .nous-contacter .img-canettes-form img {
    height: 160px;
  }
}
@media screen and (max-width: 901px) {
  .nous-contacter .img-canettes-form img {
    height: 140px;
  }
}
@media screen and (max-width: 769px) {
  .nous-contacter .img-canettes-form img {
    height: 120px;
  }
}
@media screen and (max-width: 481px) {
  .nous-contacter .img-canettes-form img {
    height: 80px;
  }
}
@media screen and (max-width: 321px) {
  .nous-contacter .img-canettes-form img {
    height: 50px;
  }
}

/* Page Commander - Section Votre commande */

.bg-commander {
  background-color: var(--color1);
  position: relative;
}
.section-global-width {
  width: 850px;
  margin: 0 auto;
}
.section-global-width .votre-commande h1 {
  font-size: 2.2rem;
  font-weight: 800;
  color: white;
  padding-top: 5vh;
  text-align: center;
}

.section-global-width .votre-commande h1:before {
  content: "";
  position: absolute;
  width: 850px;
  height: 1px;
  background: white;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
}
.choix-commande {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}
.choix-commande h2 {
  width: 100%;
  font-size: 1.9rem;
  font-weight: 700;
  color: white;
  text-align: left;
  margin-bottom: 5vh;
}
.choix-commande h2:before {
  content: "";
  position: absolute;
  width: 850px;
  height: 1px;
  background: white;
  top: 520px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 1281px) {
  .section-global-width .votre-commande h1:before {
    width: 850px;
  }
  .choix-commande h2:before {
    width: 850px;
    top: 500px;
  }
}
@media screen and (max-width: 1025px) {
  .section-global-width .votre-commande h1 {
    font-size: 2rem;
  }
  .section-global-width .votre-commande h1:before {
    top: 140px;
  }
  .choix-commande h2:before {
    top: 470px;
  }
}
@media screen and (max-width: 769px) {
  .section-global-width .votre-commande h1 {
    font-size: 1.8rem;
  }
  .section-global-width .votre-commande h1:before {
    width: 430px;
    top: 140px;
    left: 425px;
  }
  .choix-commande h2 {
    font-size: 1.6rem;
    text-align: center;
  }
  .choix-commande h2:before {
    width: 430px;
    top: 720px;
    left: 425px;
  }
}
@media screen and (max-width: 481px) {
  .section-global-width {
    width: 400px;
    margin: 0 auto;
  }
  .section-global-width .votre-commande h1 {
    font-size: 1.4rem;
  }
  .section-global-width .votre-commande h1:before {
    width: 200px;
    top: 110px;
    left: 230px;
  }
  .choix-commande h2:before {
    display: none;
  }
}
@media screen and (max-width: 321px) {
  .section-global-width {
    width: 300px;
    margin: 0 auto;
  }
  .section-global-width .votre-commande h1 {
    font-size: 1.2rem;
  }
}
/* Page Commander - Section Votre commande */
.commande-article-flex {
  width: 850px;
  display: flex !important;
  justify-content: space-around !important;
  gap: 20px;
}
@media screen and (max-width: 769px) {
  .commande-article-flex {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
  }
}
@media screen and (max-width: 481px) {
  .commande-article-flex {
    display: flex;
    flex-direction: column;
    width: 200px;
  }
}

.commande-article-colonne {
  display: flex;
  flex-direction: column;
  width: 193px;
  gap: 10px;
}
.commande-article-colonne .compteur {
  display: flex;
  height: 50px;
  gap: 1px;
}
.commande-article-colonne .compteur .valeur {
  width: 50px;
  height: 50px;
}
.compteur-value {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10% 0 0 10%;
  text-align: center;
  font-size: 16px;
}
.bouton {
  display: flex;
  flex-direction: column;
  width: 13px;
  gap: 1px;
}
.compteur-button {
  height: 50px;
  background-color: var(--color6);
  color: white;
  width: 20px;
  border: none;
  border-radius: 10%;
}
.valider-button {
  width: 115px;
  margin-left: 14px;
  background-color: var(--color2);
  color: white;
  border: none;
  border: none;
  border-radius: 5%;
}

/* Page Commander - Section Formulaire de commande */

.form-commande-flex {
  width: 850px;
  margin: 10vh auto auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.form-commande-flex input {
  border: none;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 3vh;
  color: black;
  text-align: left;
  padding-left: 5px;
  border-radius: 5px;
}
.form-commande-flex h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 3vh;
  color: white;
  text-align: left;
}
.form-commande-flex h4 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1vh;
  color: white;
  text-align: left;
}
.spin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-commande-flex .sec-informations:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 375px;
  background: white;
  top: 56vh;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 1281px) {
  .form-commande-flex .sec-informations:before {
    top: 58vh;
  }
}
@media screen and (max-width: 901px) {
  .form-commande-flex .sec-informations:before {
    top: 64vh;
    height: 340px;
  }
  .form-commande-flex h3 {
    font-size: 1.6rem;
    text-align: center;
  }
}
@media screen and (max-width: 769px) {
  .form-commande-flex {
    width: 450px;
    margin: 6vh auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
  .form-commande-flex .sec-informations:before {
    display: none;
  }
}
@media screen and (max-width: 481px) {
  .form-commande-flex {
    width: 200px;
    margin: 6vh auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
  .form-commande-flex h4 {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 1vh;
    color: white;
    text-align: left;
  }
}
@media screen and (max-width: 321px) {
  .form-commande-flex {
    width: 200px;
    margin: 6vh auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
  .form-commande-flex h4 {
    font-size: 0.7rem;
  }
  .form-commande-flex input {
    border: none;
    height: 40px;
    font-size: 0.7rem;
    font-weight: 400;
  }
}
/* .form-commande-flex .submit-commander {
  font-size: 13px !important;
  font-weight: 200 !important;
  margin: 2vh 0 10vh 0;
  width: 150px !important;
  background-color: var(--color2);
  color: white;
  text-align: center;
} */
.has-spinner {
  font-size: 0.9rem !important;
  margin: 2vh 0;
  width: 200px !important;
  background-color: var(--color2);
  text-align: center;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  align-content: center;
}
@media screen and (max-width: 321px) {
  .has-spinner {
    width: 300px !important;
  }
}
.form-commande-flex .wpcf7-submit:hover {
  background-color: var(--color3);
  color: white;
}
